.home{
    margin:100px;
    text-align: center;
    background-color: rgb(10, 42, 42);
    color:aliceblue;
    font-size:100px;
    border-radius: 5px;
}
.images {
    display:flex; 
    flex-direction:row;
    margin: 30px; 
    justify-content: space-between;
    border-radius:5px;
  }
.treck{
    display:flex;
    flex-direction: row;
    margin: 30px;
    justify-items: normal;
    padding:20px;
    color:rgb(27, 19, 72);
    font-style: oblique;
    font-size:20px;
}
.places{
    margin:10px;
    color:whitesmoke;
}
.img{
    margin:10px;
}